@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
    --bg-light: #fff;
    --green: #C3E5AE;
    --yellow: #F1E1A6;
    --pink: #DA7F8F;
    --bright-green: #97DBAE; 
    --dark-grey: #232323;
    --light-grey: #F3F3F3;

    --menu-speed: 0.75s;
}

html {
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-light);
    font-family: 'Roboto', sans-serif;
    color: var(--dark-grey);
    min-height: 100vh;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

/* Header */ 

header {
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-light);
    height: 68px;
    width: 100%;
    top: 0;
    left: 0;
}

header > p {
    font-weight: 700;
    color: #fff;
    font-size: 1.4rem;
    margin-left: 30px; 
}

/* Welcome section */ 

.container {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-container-outer {
    min-height: 100vh;
    border: 20px solid #fff;
    text-align: center;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    top: 0;
    height: 80vh;
    width: 90vw;
}

.welcome-container img {
    display: none;
}

.welcome-container h1 {
    font-family: 'Secular One', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--dark-grey);
}

.welcome-container h2 {
    font-size: 1.250rem;
    font-weight: 700;
    font-style: italic;
    color: var(--dark-grey);
}

.welcome-container p {
    font-weight: 300;
    font-style: italic;
    letter-spacing: .150rem;
}

.welcome-container span {
    color: var(--bright-green);
}

.welcome-contact {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    padding: 0 2rem;
    font-size: 1.750rem;
}

.welcome-contact > div {
    display: inline-flex;
    justify-content: center;
    margin: 1rem;
}

.welcome-contact a {
    color: var(--dark-grey);
    text-decoration: none;
    padding: 0 0.250rem;
}

.contact-btn {
    position: relative;
    background: var(--pink);
    color: #fff;
    font-weight: 900;
    height: 2.5rem;
    margin-top: 2rem;
    min-width: 130px;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border: 2px solid var(--dark-grey);
    border-radius: 5px;
}

@media only screen and (min-width: 1440px) {
    .container {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100vh;
        width: 100%;
    }
    
    section {
        scroll-snap-align: start;
    } 
    
    .welcome-container-outer {
        display: flex;
        justify-content: center;
        top: 0;
        background-color: var(--yellow);
        height: 100vh;
    }

    .welcome-container {
        background: var(--bg-light);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 30vh;
        border-radius: 1rem;
    }

    .welcome-container > div {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        height: auto;
        margin-top: 4rem;
    }

    .welcome-container h1 {
        font-size: 4rem;
        font-weight: 700;
    }

    .welcome-container h2 {
        font-size: 1.5rem;
    }

    .welcome-container p {
        float: right;
    }

    .welcome-container img {
        display: block;
    }

    .welcome-contact {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: center;
        margin-bottom: 1rem;
    }

    .social-icons a:hover{
        color: var(--bright-green);
    }

    .arrow img {
        width: 130px;
        height: 130px;
        transform: scaleY(-1);
        margin-top: 3rem;
    }

    .contact-btn {
        padding: 10px;
        font-size: 15px;
        outline: none;
        border: 2px solid black;
        background-color: white;
        color: white;
        position: relative;
        margin-bottom: 2rem;
    }

    .contact-btn::before {
        content: 'Contact me';
        /*Button's value/text-content */
        position: absolute;
        top: -14%;
        left: -4%;
        background-color: var(--pink);
        border: 0.150rem solid var(--dark-grey);
        border-radius: 0.2rem;
        width: 100%;
        height: 100%;
        color: var(--bg-light);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.15s ease-in-out;
        font-weight: bold;
    }
    
    .contact-btn:hover::before {
        background-color: var(--bright-green);
        border: none;
        top: 0;
        left: 0;
    }
}

/* Projects section*/

.projects-container-outer {
    min-height: 100vh;
    background-color: var(--light-grey);
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.projects-container p {
    display: none;
}

.projects-container h2 {
    color: var(--dark-grey);
    margin: 2rem 0 3rem;
    font-size: 2.5rem;
}

.projects-container span {
    color: var(--bright-green);
}

.projects-box {
    margin: 0.5rem;
}

.projects-box h3, h4 {
    margin: .5rem 0 0 1.5rem;
}

.projects-box a {
    color: var(--light-pink);
    font-weight: 700;
    padding-right: 0.5rem;
}

.projects-container-outer img {
    width: 200px;
    border-radius: 1rem;
}

@media only screen and (min-width: 1440px) {
    .projects-container > div {
        display: flex;
        flex-direction: row;
    }

    .projects-box {
        margin: 0 1rem;
    }

    .projects-container p {
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 100px;
        width: 500px;
        overflow: auto;
    }

    .projects-container a {
        color: var(--bright-green);
    }

    .projects-container img {
        width: 500px;
        height: 250px;
    }
}

/* About section */

.about-container-outer {
    height: 100vh;
    background-color: var(--green);
}
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--bg-light);
    font-size: 0.950rem;
}

.about-container #desktop-avatar {
    display: none;
}

.signature {
    display: none;
}

.about-text h1 {
    color: var(--bg-light);
    font-family: 'Secular One', sans-serif;
    margin-bottom: 2rem;
}

.about-text p {
    width: 80vw;
    margin-bottom: 1rem;
    text-align: center;
}

@media only screen and (min-width: 1440px) {
    .about-container-outer {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .about-container {
        display: flex;
        flex-direction: row;
        background: url('../resources/images/diamond-sunset.png') no-repeat center / cover;
        /* background by SVGBackgrounds.com */
        height: 100vh;
        width: 100%;
        position: relative;
    }

    .about-container > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 3rem;
    }

    .about-container h1 {
        margin-left: 1rem;
    }

    .about-container p {
        width: 60vh;
        margin-bottom: 1rem;
        text-align: left;
    }

    .about-container .my-skills {
        font-size: 1.5rem;
    }

    .about-text span {
        font-family: 'Secular One', sans-serif;
        font-size: 1.050rem;
    }

    .about-container #desktop-avatar {
        display: block;
    }

    .about-container .signature {
        height: 120px;
        margin: 2rem 0 0 1rem;
    }

    .about-container img {
        display: block;
    }
}

/* Contact section */

.contact-container-outer {
    height: 100vh;
    background: url('../resources/images/liquid-cheese.png') no-repeat center / cover;
    /* background by SVGBackgrounds.com */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-container h1 {
    font-size: 2rem;
    color: var(--bg-light);
    margin-bottom: 3rem;
}

.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--bg-light);
    border: .250rem solid var(--bg-light);
    border-radius: 0.5rem;
    padding: 1.5rem .5rem;
}

.contact-container img {
    width: 60vw;
    height: auto;
}

.contact-text p {
    margin-bottom: 2rem;
}

.contact-text a {
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 2px solid var(--dark-grey);
    background-color: white;
    color: white;
    position: relative;
    letter-spacing: 1px;
}

.contact-text a::before {
    content: 'Say Hello 💃';
    /*Button's value/text-content */
    position: absolute;
    top: -14%;
    left: 7%;
    background-color: var(--pink);
    border: 2px solid var(--dark-grey);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease-in-out;
    font-weight: bold;
}

.contact-text a:hover::before {
    border: 2px solid transparent;
    top: 0;
    left: 0;
}

.contact-text a:hover {
    background-color: var(--dark-green);
    color: var(--bg-light);
    border: .150rem solid var(--bg-light);
}

@media only screen and (min-width: 1440px) {
    .contact-container img {
        width: 20vw;
        height: auto;
    }

    .contact-text {
        padding: 3rem 7rem;
    }
}